<nav class="navbar bg-base-200 shadow-sm">
    <div class="flex max-w-6xl w-full mx-auto px-6">
        <a href="/" class="flex items-center space-x-4 px-2 py-2 rounded-lg hover:bg-secondary">
            <div class="avatar">
                <div class="w-8 rounded">
                    <img src="/favicon.ico" />
                </div>
            </div>
            <span class="text-xl font-bold text-primary">Portfolio</span>
        </a>
    </div>
</nav>