<!DOCTYPE html>
<html data-theme="macchiato" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ components.style() }}

    <title>{{ title }}</title>
</head>

<body>
    <main class="flex flex-col max-w-3xl mx-auto px-6">

        <article id="markdown" class="my-8">

            <h1 class="text-3xl!">{{ title }}</h1>

            {{ content }}

            <div class="my-8">
                {{ components.demo() }}
            </div>

        </article>

    </main>

</body>

</html>