<!DOCTYPE html>
<html data-theme="macchiato" lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/styles/styles.css" rel="stylesheet" />

    <title>Portfolio</title>
</head>

<body>
    {{ components.nav() }}

    <main class="flex flex-col max-w-6xl mx-auto px-6 my-8">

        <div class="text-justify leading-snug space-y-4">
            <p>Welcome, </p>

            <p>
                You are here on my portfolio. Specifically, this website lists some projects I built for anything but
                paying
                customers (mostly for fun or learning). If you are looking for customers' projects, you can probably get
                a
                list of that with a short summary wherever you found a link to my portfolio. If you want more in depth
                information about those, feel free to contact me.
            </p>

            <p>
                I mostly specialize in <em class="text-accent">Rust</em> and <em class="text-accent">Flutter</em>, which
                makes the bulk of what you'll find on here, but I sometimes tinker around other technologies. I also
                have a
                broad skillset in cyber-security given my past experiences.
            </p>

            <p>
                If you're thinking about hiring me as a freelance, please reach out at <a
                    class="link-primary font-semibold hover:underline"
                    href="mailto:freelance@mail.valdum.dev">freelance@mail.valdum.dev</a>.
            </p>
        </div>

        <h1 class="text-3xl font-bold my-8!">Projects</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
            {# For each pages #}
            {% for page in pages.byTag("projets", sortBy="publishDate=desc") %}

            <a href="{{ page.data.url }}" class="card bg-base-200 hover:bg-secondary">
                <div class="card-body">
                    <h2 class="card-title">
                        {{ page.data.title }}

                        {% if page.data.lang is not null %}
                        {% for lang in page.data.lang %}
                        <div class="badge badge-soft badge-sm badge-neutral">{{ lang }}</div>
                        {% endfor %}
                        {% endif %}
                    </h2>
                    <p class="text-justify">{{ page.data.summary }}</p>
                </div>
            </a>

            {% else %}
            <p class="text-lg fond-semibold text-center m-16">Nothing to see here yet</p>
            {% endfor %}
        </div>

    </main>
</body>

</html>